*{
  padding:0px;
  margin:0px;
}
body{
  background-color: rgb(235, 233, 214);

}

.letterInput{
  padding:100px;
display:flex;
flex-direction: row;
justify-content: space-evenly;
}

h1{
    text-align: center;
    color: black
}
.letter{
    padding:12px;
   
    display:flex;

    flex-direction: row;
    
    border-bottom: 1px solid black;

    color:transparent
}
p{
  display:flex;
  justify-content: space-evenly;
}

.word{
  display:flex;
  justify-content: space-evenly;
  padding:9px;
}
.alphabets{
  padding:50px
}

li{
list-style: none;
font-family:monospace;
font-size: xx-large;
display:flex;
margin:14px;

}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li:hover{
  color:brown;
  
}
.img{
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  
}

.one{
visibility: hidden;
}

.two{
  visibility:hidden
}

.three{
  visibility: hidden;
}

.four{
  visibility: hidden;
}

.five{
  visibility: hidden;
}

.wordArray{
  font-size: 40px;
  font-family: monospace;
  text-emphasis: bold ;
  color:red
}
.one:hover{
  background-color: greenyellow;
}
.two:hover{
  background-color: greenyellow;
}
.three:hover{
  background-color: greenyellow;
}
.four:hover{
  background-color: greenyellow;
}
.five:hover{
  background-color: black;
}

.over{
  visibility: hidden;
  font-size: 30px;
  color:red;
  font-family: monospace;
  padding: 9px;
}

.gameOver{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1:hover{
  color:brown ;
  font-size: 100px;
  text-decoration: underline;
}
.tryAgain{
width: 4%;
display: flex;
justify-content: center;
border-radius: 50px;
border: 3px solid black;
background-color: yellow;
}

.tryAgain:hover{
  background-color: whitesmoke;
}