*{
  padding:0px;
  margin:0px;
}
body{
  background-color: rgb(235, 233, 214);

}

.letterInput{
  padding:100px;
display:flex;
flex-direction: row;
justify-content: space-evenly;
}

h1{
    text-align: center;
    color: black
}
.letter{
    padding:12px;
   
    display:flex;

    flex-direction: row;
    
    border-bottom: 1px solid black;

    color:transparent
}
p{
  display:flex;
  justify-content: space-evenly;
}

.word{
  display:flex;
  justify-content: space-evenly;
  padding:9px;
}
.alphabets{
  padding:50px
}

li{
list-style: none;
font-family:monospace;
font-size: xx-large;
display:flex;
margin:14px;

}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li:hover{
  color:white;
  
}
.img{
  display:flex;
  flex-direction: row;
  
}

.one{
visibility: hidden;
}

.two{
  visibility:hidden
}

.three{
  visibility: hidden;
}

.four{
  visibility: hidden;
}

.five{
  visibility: hidden;
}

.wordArray{
  font-size: 40px;
  font-family: monospace;
  text-emphasis: bold ;
  color:red
}